<form name="editProfileForm" novalidate>
    <md-content layout-padding layout="column" layout-sm="column">
        <div layout="column" layout-sm="column">
            <md-input-container flex>
                <label>New name</label>
                <input ng-model="ownData.name" required>
            </md-input-container>
            <md-input-container flex>
                <label>New Email</label>
                <input ng-model="ownData.email" type="email" required>
            </md-input-container>
            <div ng-controller="UploadCtrl">
                <img id="uploadProfileImg" ng-src="{{ownData.profileImageData}}" >
                <input type="file" name="upload" onchange="angular.element(this).scope().profilePicture(this)">

                <img id="uploadCoverImg" ng-src="{{ownData.coverImageData}}">
                <input type="file" name="upload" onchange="angular.element(this).scope().coverPicture(this)">

            </div>
            <p>Selected Value: <span class="radioValue">{{ ownData.gender}}</span></p>

            <form action="">
                <md-radio-group ng-model="ownData.gender">
                    <md-radio-button value="1"> male</md-radio-button>
                    <md-radio-button value="2"> female</md-radio-button>
                    <md-radio-button value="0"> other</md-radio-button>
                </md-radio-group>
                <md-button type="submit" value="Submit" class="md-raised md-primary"
                           ng-disabled="editProfileForm.$invalid" ng-click="editProfile(ownData)">Edit
                </md-button>
            </form>
        </div>
    </md-content>
</form>