<div layout="row" layout-sm="column" ng-controller="PostsController">
    <md-content flex="50" offset="5" ng-controller="FeedController">
        <md-list infinite-scroll='feedPosts.nextPage()' infinite-scroll-disabled='posts.busy' infinite-scroll-distance='0.5'>
                <md-input-container  id="newPost">
                    <input ng-model="postData" placeholder="What's on your mind?">
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="addNewPost(postData, username)" id="addPostButton">Post</md-button>
                <md-list-item class="md-3-line" ng-repeat="post in feedPosts.feedPosts">
                    <img ng-src="{{post.author.profileImageData}}" class="md-avatar"/>
                    <div class="md-list-item-text">
                        <h3><a href="#/users/{{post.author.username}}"><strong>{{post.author.name}}</strong></a> wrote on
                            <a href="#/users/{{post.wallOwner.username}}">{{post.wallOwner.name}}</a>'s wall</h3>
                        <p class="writtenOn">{{post.date | date:'medium'}}</p>

                        <h4>{{post.postContent}}</h4>
                        <p><i class="icon icon-heart hover" ng-if="!post.liked" ng-click="likePost(post)" title="Like"></i>
                            <i class="icon icon-heart-broken hover" ng-if="post.liked" ng-click="dislikePost(post)" title="Dislike"></i>
                            {{post.likesCount}}
                        </p>

                        <div class="comments">
                            <p><span class="hover" ng-if="post.comments.length >= 3" ng-click="getAllPostComments(post)">All comments</span></p>
                            <div ng-repeat="comment in post.comments">
                                <span><a href="#/users/{{comment.author.username}}">{{comment.author.name}}</a></span>
                                <p>
                                    <i class="icon icon-heart hover" ng-if="!comment.liked" ng-click="likeComment(post,comment)" title="Like"></i>
                                    <i class="icon icon-heart-broken hover" ng-if="comment.liked" ng-click="dislikeComment(post,comment)" title="Dislike"></i>
                                    {{comment.likesCount}}
                                    &nbsp;
                                    {{comment.commentContent}}
                                </p>
                            </div>
                        </div>
                        <md-input-container  class="newComment">
                        <input ng-model="newCommentContent" ng-enter="addCommentToPost(post , newCommentContent)" placeholder="Write a comment">
                        </md-input-container>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            <div ng-show='feedPosts.busy'>{{feedPosts.loadingMessage}}</div>
        </md-list>
    </md-content>
</div>