<div layout="row" layout-sm="column">
    <md-content flex="50" offset="5">
        <md-list>
            <md-list-item class="md-3-line">
                <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeUezxSlM0LpPfr0VC6VEjddpsk1I2puumBsRUIUQst4DXwBE1pQ"
                     class="md-avatar"/>

                <div class="md-list-item-text">
                    <h3>Pesho</h3>
                    <h4>Pesho go subri pichkata iska da izlezne navanka</h4>

                    <p>{{ item.notes }}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
    <div ng-controller="UserController">
        <md-button class="md-raised md-primary" ng-click="getOwnFriends()">Get friends</md-button>
    </div>
</div>