<div ng-controller="UserController">
    <div ng-controller="WallController">
        <div id="userProfileData">
            <md-content>
                <md-card>
                    <div style="background: url('{{userFullData.coverImageData}}') no-repeat center"
                         id="coverImage">
                        <img ng-src="{{userFullData.profileImageData}}" class="md-card-image">
                        <h1>{{userFullData.name}}</h1>
                    </div>
                </md-card>
            </md-content>
        </div>
        <md-button class="md-raised md-primary" ng-click="sendFriendRequest(userFullData.username)" ng-if="userFullData.username != username && isMyFriend">Add friend</md-button>

        <md-content flex="50" offset="5" ng-controller="PostsController">
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="post in friendsWall">
                    <img ng-src="{{post.author.profileImageData}}"
                         class="md-avatar"/>

                    <div class="md-list-item-text">
                        <h3><a href="#/users/{{post.author.username}}">{{post.author.name}}</a></h3>
                        <h4>{{post.postContent}}</h4>

                        <p>{{post.date | date}}</p>

                        <div class="comments" ng-repeat="comment in post.comments">
                            <a href="">{{comment.authorUsername}}</a>

                            <p>{{comment.commentContent}}</p>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
    <div id="friendsContainer" ng-if="userFullData.username != username">
        <div ng-repeat="friend in friendFriends" class="singleFriend">
            <a href="#/users/{{friend.username}}">
                <img ng-src="{{friend.profileImageData}}" class="friendProfilePic"/>
                <span>{{friend.name}}</span>
            </a>
        </div>
    </div>
</div>
</div>