@import url('http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css');
body{
    font-family: Roboto ;
}
main{
    width: 960px;
    margin: 0 auto;
}
md-toolbar{
    background-color: #26c6da!important;
}
.md-toolbar-tools{
    width: 960px;
    margin: 0 auto;
}
.md-primary{
    background-color:   #00838f!important;
}
#registerButton{
    background-color:#00b8d4;
}
#uploadProfileImg{
    width: 160px;
    height: 160px;
}
#uploadCoverImg{
    width: 300px;
    height: 100px;
}