@import url('http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css');
body{
    font-family: Roboto ;
}
main{
    width: 960px;
    margin: 0 auto;
}
md-toolbar{
    background-color: #26c6da!important;
}
.md-toolbar-tools{
    width: 960px;
    margin: 0 auto;
}
.md-primary{
    background-color:   #00838f!important;
}
.md-button{
    min-width: 60px;
}
input.ng-valid.ng-dirty {
    border-color: #259b24;
}
button:disabled{
    background-color: #00b8d4!important;
}

#registerButton{
    background-color:#00b8d4;
}
#uploadProfileImg{
    width: 160px;
    height: 160px;
}
#uploadCoverImg{
    width: 300px;
    height: 100px;
}
i{
    font-size: 18px;
}
.tools{
    width: 5em;
}
#allFriends{
    box-shadow: 0 5px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    width: 31em;
    margin: 0 auto;
    margin-top: 5em;
    padding: 0.5em 0.5em 0.5em 0.5em
}
#friendsContainer{
    box-shadow: 0 5px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    width: 31em;
    margin: 0 auto;
    min-height: 10em;
    max-height: 10em;
    
}
.comments{
    font-size: 12px!important;
}
.singleFriend{
    border: 1px black;
    display: inline-block;
    max-width: 10em;
    min-width: 10em;
    min-height: 4em;
}
.friendProfilePic{
    width: 65px;
    height: 80px;
    display: inline;
}
a{
    color: lightgrey;
    text-underline: none;
}
#newPost{
    margin-top: 2em;
    display: inline-block;
}
.newComment{
    margin-top: 0.2em;
    display: inline-block;
}
#newPost>input{
    width: 20em;
}
label{
    margin-left: 0!important;
}
#friendRequests {
    box-shadow: 0 5px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    width: 20em;
    padding: 0.5em 0.5em 0.5em 0.5em ;
    margin: 0 auto;
    margin-top: 5em;
}
.md-card-image{
    margin-top: 3.4em;
    margin-left: 0.5em;
    width: 160px;
    height: 160px;
    border-radius: 2px!important;
    border:1px solid grey;
}

#coverImage{
    background-size: cover!important;
    height: 220px;
}
#coverImage>h1{
    display: inline;
    color: #ffffff;
}
