<html lang="en" ng-app="App" ng-controller="AppController">
<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="css/demo.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/loading-bar.css"/>
    <meta name="viewport" content="initial-scale=1"/>
</head>
<body layout="column" ng-controller="AuthController">
<header>
    <md-content ng-if="authService.isLoggedIn()">
        <md-toolbar ng-controller="SearchController">
            <div class="md-toolbar-tools">
                <div layout="row">
                    <md-button class="md-raised md-primary tools" href="#/users/{{username}}"><i
                            class="icon icon-user"></i></md-button>
                    <md-button class="md-raised md-primary tools" href="#/home"><i class="icon icon-bubbles"></i>
                    </md-button>
                    <md-button class="md-raised md-primary tools" href="#/me/friends"><i class="icon icon-users"></i>
                    </md-button>
                    <md-button class="md-raised md-primary tools" href="#/me/edit"><i class="icon icon-pencil2"></i>
                    </md-button>
                    <md-button class="md-raised md-primary tools" href="#/me/edit"><i class="icon icon-key"></i>
                    </md-button>
                </div>
                <span flex></span>
                <md-input-container id="searchBar">
                    <input ng-model="searchTerm" placeholder="Search" ng-change="searchByName(searchTerm)">
                </md-input-container>

                <span id="resultList" ng-controller="SearchController">
                    <md-list>
                        <md-list-item ng-repeat="result in searchResults">
                            <img ng-src="{{result.profileImageData}}" class="md-avatar"/>

                            <div class="md-list-item-text">
                                <h3><a href="#/users/{{result.username}}">{{result.name}}</a></h3>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </span>

                <div layout="row">
                    <md-button class="md-raised md-primary" ng-click="logout()"><i class="icon icon-enter"></i>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
    </md-content>
</header>

<main ng-view>


</main>

<!-- Angular Material Dependencies -->
<script type="text/javascript" src="js/libs/jquery-1.11.3.min.js">
</script>
<script src="js/libs/angular.js"></script>
<script src="js/libs/angular-animate.js"></script>
<script src="js/libs/angular-aria.js"></script>
<script src="js/libs/angular-route.js"></script>
<script src="js/libs/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.js"></script>
<script src="js/libs/loading-bar.js"></script>
<!-- latest jQuery direct from google's CDN -->

<script type="text/javascript" src="js/libs/ng-infinite-scroll.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers/appController.js"></script>
<script src="js/controllers/authController.js"></script>
<script src="js/services/authService.js"></script>
<script src="js/controllers/editProfileController.js"></script>
<script src="js/services/userService.js"></script>
<script src="js/controllers/uploadController.js"></script>
<script src="js/controllers/userController.js"></script>
<script src="js/services/postsService.js"></script>
<script src="js/controllers/feedController.js"></script>
<script src="js/controllers/wallController.js"></script>
<script src="js/controllers/postsController.js"></script>
<script src="js/services/searchService.js"></script>
<script src="js/controllers/searchController.js"></script>
<script src="js/services/scrollService.js"></script>
<script src="js/controllers/scrolLController.js"></script>


</body>
</html>