<md-content ng-if="authService.isLoggedIn()" ng-controller="AuthController">
    <md-toolbar ng-controller="SearchController">
        <div class="md-toolbar-tools">
            <div layout="row">
                <md-button class="md-raised md-primary tools" href="#/users/{{username}}"><i
                        class="icon icon-user"></i></md-button>
                <md-button class="md-raised md-primary tools" href="#/home"><i class="icon icon-bubbles"></i>
                </md-button>
                <md-button class="md-raised md-primary tools" href="#/me/friends"><i class="icon icon-users"></i>
                </md-button>
                <md-button class="md-raised md-primary tools" href="#/me/edit"><i class="icon icon-pencil2"></i>
                </md-button>
                <md-button class="md-raised md-primary tools" href="#/me/password"><i class="icon icon-key"></i>
                </md-button>
            </div>
            <span flex></span>
            <md-input-container id="searchBar">
                <input ng-model="searchTerm" placeholder="Search" ng-change="searchByName(searchTerm)"
                       ng-focus="hideResults()" ng-blur="hideResults()">
            </md-input-container>

                <span id="resultList" ng-controller="SearchController" ng-show="showSearchResults" >
                    <md-list>
                        <md-list-item ng-repeat="result in searchResults">
                            <img ng-src="{{result.profileImageData}}" class="md-avatar"/>

                            <div class="md-list-item-text">
                                <h3><a href="#/users/{{result.username}}">{{result.name}}</a></h3>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </span>

            <div layout="row">
                <md-button class="md-raised md-primary" ng-click="logout()"><i class="icon icon-enter"></i>
                </md-button>
            </div>
        </div>
    </md-toolbar>
</md-content>